body {
    background-color: #000000;
    background-image: url("../images/atom.jpg");
    padding-top: 60px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment : fixed;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}
.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}
.well {
    background: #323232;
    color: #fff;
}
.well h1 {
    font-size: 1.3em;
    border-bottom: 1px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #4285f4;
}
h2 {
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
h5 {
    margin-top: 0,5rem;
    color: #90ee90;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
h6 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #30cf9a;
    border-left: 4px solid #147ba7;
    padding-left: 0.5rem;
}
.head-color {
    background-color: #4285f4;
}

.bg-primary {
    background-image: linear-gradient(to bottom, #48c6ef, #6f86d6);
    border: 0px;
}
.nav li a:hover{
    background-image: linear-gradient(to bottom, rgba(72,198,239,0.75), rgba(111,134,214,0.75));
    border: 0px;
}
.nav li a:focus{
    background-color: transparent;
    border: 0px;
}
h1 a{
    color: #4285f4;
}
h1 a:hover{
    color: #4285f4;
}
.active a{
    color: #fff;
}
.active a:hover{
    color: #fff;
}
.sidebar a{
    color: #4285f4;
}
.sidebar a:hover{
    color: #4285f4;
}
.navbar-header{
    color: #ffffff;
}
