body {
    background: #323232;
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}
.well {
    background: #323232;
    color: #fff
}
.well h1 {
    font-size: 1.3em;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    color: #e3e3e3;
}
h2 {
    margin-top: 1rem;
    color: #90ee90;
    border-left: 4px solid #90ee90;
    padding-left: 0.5rem;
}
h5 {
    margin-top: 0,5rem;
    color: #87cefa;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
h6 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #30cf9a;
    border-left: 4px solid #147ba7;
    padding-left: 0.5rem;
}
.head-color {
    background-color: #4285f4;
}

.navbar-dark .navbar-brand:hover {
    color: #fff;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
a{
    color: #fff;
}
a:hover{
    color: #fff;
}
.active a{
    color: #fff
}
.active a:hover{
    color: #fff
}
.sidebar a{
    color: #B3B3F5;
}
.sidebar a:hover{
    color: #B3B3F5;
}
